# Работа с базами данных

Материалы:
* Макрушин С.В. Лекция 6: Работа с базами данных
* https://sqliteonline.com/
* https://docs.python.org/3/library/sqlite3.html
* https://www.geeksforgeeks.org/sql-join-set-1-inner-left-right-and-full-joins/
* https://www.datacamp.com/community/tutorials/group-by-having-clause-sql

## Задачи для совместного разбора

1. Работая с базой данных `Chinook_Sqlite.sqlite`, найдите и выведите на экран имена и фамилии всех заказчиков из Канады

In [13]:
import sqlite3 
sqlite3.apilevel

'2.0'

In [18]:
con_chinook = sqlite3.connect("Chinook_Sqlite.sqlite") #подключение к бд
cursor_chinook = con_chinook.cursor() #создаем объект курсор
cursor_chinook.execute("SELECT name FROM sqlite_master WHERE type='table';") #получаем название таблиц
for table in cursor_chinook:
    print(table[0])
print('Привезенцев Семён')

Album
Artist
Customer
Employee
Genre
Invoice
InvoiceLine
MediaType
Playlist
PlaylistTrack
Track
Привезенцев Семён

In [23]:
cursor_chinook.execute("select * from Customer;")
for customer_col in cursor_chinook.description: #получаем названия колонок нужной таблицы
    print(customer_col[0])
print('Привезенцев Семён')

CustomerId
FirstName
LastName
Company
Address
City
State
Country
PostalCode
Phone
Fax
Email
SupportRepId
Привезенцев Семён

In [22]:
cursor_chinook.execute("select FirstName, LastName from Customer where Country='Canada';")
for customer in cursor_chinook:
    print(customer[0] + " " + customer[1])
print('Привезенцев Семён')

François Tremblay
Mark Philips
Jennifer Peterson
Robert Brown
Edward Francis
Martha Silk
Aaron Mitchell
Ellie Sullivan
Привезенцев Семён

2. Найти и вывести на экран названия всех альбомов группы Accept

In [24]:
cursor_chinook.execute("select * from artist;") #получаем имена столбцов из таблицы
for album_col in cursor_chinook.description:
    print(album_col[0])
print('Привезенцев Семён')

ArtistId
Name

In [25]:
cursor_chinook.execute("select * from Album;") #получаем имена столбцов из таблицы
for album_col in cursor_chinook.description:
    print(album_col[0])
print('Привезенцев Семён')

AlbumId
Title
ArtistId
Привезенцев Семён

In [26]:
cursor_chinook.execute("select title from Album join Artist on Album.ArtistId = Artist.ArtistId \
where Artist.Name = 'Accept';")
for title in cursor_chinook:
    print(title[0])
print('Привезенцев Семён')

Balls to the Wall
Restless and Wild
Привезенцев Семён

3. Создайте базу данных с названием вашей группы. В этой базе данных создайте таблицу Student, содержащую 2 столбца: id и name. Добавьте в таблицу Student информацию о студентах, сидящих с вами по соседству.

In [34]:
pi21_3_group = sqlite3.connect("pi21_3_group.sqlite") #создаем файл бд и подключаемся к нему
sql_create = """
CREATE TABLE Parni (
    Id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    Name VARCHAR(200)  NOT NULL
);"""
cursor_pi21_3_group = pi21_3_group.cursor() #создаем курсор
cursor_pi21_3_group.executescript(sql_create) #выполняем скрипт и создаем таблицу
print('Привезенцев Семён')

Привезенцев Семён

In [35]:
sql_insert = """
INSERT INTO Parni VALUES (1, 'Андрей');
"""
cursor_pi21_3_group.executescript(sql_insert)
sql_insert = """
INSERT INTO Parni VALUES (2, 'Кирюша');
"""
cursor_pi21_3_group.executescript(sql_insert)
sql_insert = """
INSERT INTO Parni VALUES (3, 'Артем');
"""
cursor_pi21_3_group.executescript(sql_insert)
print('Привезенцев Семён')

Привезенцев Семён

In [36]:
cursor_pi21_3_group.execute("SELECT * FROM Parni;")
for student in cursor_pi21_3_group:
    print(student)
print('Привезенцев Семён')

(1, 'Андрей')
(2, 'Кирюша')
(3, 'Артем')
Привезенцев Семён

## Лабораторная работа 6

1. Создайте файл базы данных c названием `recipes.db`. Создайте объект-курсор.

In [78]:
con = sqlite3.connect("recipes.db") # Открьrnаем базу данных 
cur = con.cursor()

2. Напишите и выполните SQL-запрос для создания таблицы рецептов `Recipe`. Таблица должна содержать следующие поля:
`id`, `name`, `minutes`, `submitted`, `description`, `n_ingredients`. Определитесь с типами и составом ключевых полей.

In [79]:
sql="""
CREATE TABLE Recipesss (
    id INTEGER PRIMARY KEY NOT NULL,
    name VARCHAR(200),
    minutes INTEGER,
    submitted DATE,
    description VARCHAR(1000),
    n_ingredients INTEGER
)
"""

OperationalError: table Recipesss already exists

In [80]:
cur.execute(sql)

OperationalError: table Recipesss already exists

3. Напишите и выполните SQL-запрос для создания таблицы отзывов `Review`. Таблица должна содержать следующие поля:
`id`, `user_id`, `recipe_id`, `date`, `rating`, `review`. Определитесь с типами полей, набором ключевых полей. При помощи внешнего ключа соедините две таблицы.

In [42]:
sql2="""
create table Revieww (id int not null, user_id int not null, recipe_id int not null,
date date, rating varchar(10), review varchar(100), primary key(id), foreign key (recipe_id) references Recipes(id));
"""
cur.execute(sql2)

4. Загрузите данные из файлов `reviews_sample.csv` (__ЛР2__) и `recipes_sample_with_tags_ingredients.csv` (__ЛР5__) в созданные таблицы

In [37]:
import pandas as pd #посмотреть данные будущей таблицы и подгтовить к загрузке
import csv
recipe_df = pd.read_csv("recipes_sample.csv", parse_dates=['submitted'])[['id', 'name', 'minutes', 'submitted', 'description', 'n_ingredients']]
review_df = pd.read_csv("reviews_sample.csv", parse_dates=['date'])[['Unnamed: 0', 'user_id', 'recipe_id', 'date', 'rating', 'review']]
review_df = review_df.rename(columns={'Unnamed: 0': 'id'})
recipe_df['submitted'] = pd.to_datetime(recipe_df['submitted']).dt.date
review_df['date'] = pd.to_datetime(review_df['date']).dt.date
display(recipe_df, review_df)

,id,name,minutes,submitted,description,n_ingredients
0,44123,george s at the cove black bean soup,90,2002-10-25,an original recipe created by chef scott meska...,18.0
1,67664,healthy for them yogurt popsicles,10,2003-07-26,my children and their friends ask for my homem...,NaN
2,38798,i can t believe it s spinach,30,2002-08-29,"these were so go, it surprised even me.",8.0
3,35173,italian gut busters,45,2002-07-27,my sister-in-law made these for us at a family...,NaN
4,84797,love is in the air beef fondue sauces,25,2004-02-23,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...
29995,267661,zurie s holey rustic olive and cheddar bread,80,2007-11-25,this is based on a french recipe but i changed...,10.0
29996,386977,zwetschgenkuchen bavarian plum cake,240,2009-08-24,"this is a traditional fresh plum cake, thought...",11.0
29997,103312,zwiebelkuchen southwest german onion cake,75,2004-11-03,this is a traditional late summer early fall s...,NaN
29998,486161,zydeco soup,60,2012-08-29,this is a delicious soup that i originally fou...,NaN
29999,298512,cookies by design cookies on a stick,29,2008-04-15,"i've heard of the 'cookies by design' company,...",10.0

,id,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

In [50]:
recipe_df.to_sql('Recipesss',con , if_exists='append', index=False) #загрузка в таблицу Recipe

30000

In [51]:
review_df.to_sql('Revieww', con, if_exists='append', index=False) #загрузка в таблицу Review

126696

5. Найдите все рецепты, для выполнения которых нужно ровно 10 ингредиентов. Выведите на экран первые 5 из найденных рецептов.

In [81]:
cur.execute("select id, name, n_ingredients from Recipesss where n_ingredients = 10 limit 5;")
for recipe in cur.fetchall():
    print(recipe)

(246, 'lee s hot crab dip', 10)
(289, 'feijoada  brazilian bean soup  ii', 10)
(544, 'greek mushroom salad', 10)
(671, 'cucumber relish', 10)
(975, 'basil parmesan biscuits', 10)

6. Найдите название рецепта, для выполнения которого требуется больше всего времени.

In [83]:
cur.execute("SELECT id, name, max(minutes) from Recipesss;")
for recipe in cur.fetchall():
    print(recipe)

(236274, 'strawberry liqueur', 129615)

7. Запросите у пользователя id рецепта и верните информацию об этом рецепте. Если рецепт отсуствует, выведите соответствующее сообщение.

In [92]:
id_recipe = int(input("Введите id рецепта: ").strip())
cur.execute(f"select * from Recipesss where id = {id_recipe};")

if cur.rowcount == - 1: 
    print(f'Информация о рецепте с id = {id_recipe} в таблице Recipe:')
    for info in cur.fetchall():
        print(info)
else: 
    print(f'Информации о рецепте с id = {id_recipe} отсутствует')
print()
cur.execute(f"select * from Revieww where id = {id_recipe};")
if cur.rowcount == - 1: 
    print(f'Информация о рецепте с id = {id_recipe} в таблице Review:')
    for info in cur.fetchall():
        print(info)
        print()
else: 
    print(f'Информации о рецепте с id = {id_recipe} отсутствует.')

Введите id рецепта: 4
Информация о рецепте с id = 4 в таблице Recipe:

Информация о рецепте с id = 4 в таблице Review:

8. Найдите кол-во отзывов с рейтингом 5.

In [93]:
cur.execute("SELECT count(recipe_id) from Revieww where rating = 5;")
for recipe in cur.fetchall():
    print(recipe[0])

91361

9. Найдите кол-во уникальных рецептов, не имеющих отзывов с рейтингом, меньше 4.

In [94]:
cur.execute("SELECT (SELECT COUNT(DISTINCT recipe_id) FROM Revieww) - COUNT(DISTINCT recipe_id) FROM Revieww WHERE rating < 4")
for rec in cur.fetchall():
    print(rec[0])

20466

10. Найдите кол-во рецептов, опубликованных в 2010 году и имеющих длину не менее 15 минут.

In [95]:
cur.execute("SELECT count(id) from Recipesss where submitted BETWEEN'2010-01-01' and '2010-12-31' and minutes >= 15;")
print(cur.fetchall()[0][0])

1319

11. Выберите id рецепта, название рецепта, id пользователя, оставившего отзыв, дату отзыва и рейтинг для тех рецептов, которые имеют не менее 3 ингредиентов. Отсортируйте результат по id рецепта.